<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
		default-lazy-init="true">	

	<description>Spring公共配置 </description>
	 <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
			
		</property>
	</bean>
	
	
	<!-- 对web包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能               -->
	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入   	-->
	<!-- base-package 扫描开始的基础包名  									  	-->
	<context:component-scan base-package="org.lixl">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	<!-- 定义aspectj -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	

    <!-- 数据源配置,使用应用内的DBCP JDBC连接池 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}${jdbc.schema}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="${jdbc.pool.maxActive}"/>
        <property name="maxIdle" value="${jdbc.pool.maxIdle}"/>
        <property name="defaultAutoCommit" value="false"/>
    </bean>

    <!-- MyBatis配置 Start-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描目录,读取数据类型别名-->
        <property name="typeAliasesPackage" value="org.lixl"/>
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:/src/main/java/mybatis/*Mapper.xml"/>
    </bean>


    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.lixl"/>
        <property name="annotationClass" value="org.lixl.base.dao.MyBatisRepository"/>
    </bean>
    <!--MyBatis配置 End-->

    <!-- JDBC Template -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	
	
	<import resource="applicationContext-provider.xml" />
	<import resource="applicationContext-consumer.xml" />

	<!-- 注册Dao -->
	<bean id="accountDao" class="org.lixl.spring.aop.AccountDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="stockDao" class="org.lixl.spring.aop.StockDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!--注册Service-->
	<bean id="stockService" class="org.lixl.spring.aop.StockProcessServiceImpl">
		<property name="accountDao" ref="accountDao"/>
		<property name="stockDao" ref="stockDao"/>
	</bean>

	<!--事务-->
	<bean id="myTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!--生成事务-->
	<bean id="stockServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="myTxManager"/>
		<property name="target" ref="stockService"/>
		<property name="transactionAttributes">
			<props>
				<prop key="open*">ISOLATION_DEFAULT,PROPAGATION_REQUIRED</prop>
				<prop key="buyStock">ISOLATION_DEFAULT,PROPAGATION_REQUIRED,-StockException</prop>
			</props>
		</property>
	</bean>
	<!--开启注解驱动-->
	<tx:annotation-driven transaction-manager="myTxManager"/>

	<!-- 注册事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="myTxManager">
		<tx:attributes>
			<!-- 指定在连接点方法上应用的事务属性 -->
			<tx:method name="open*" isolation="DEFAULT" propagation="REQUIRED"/>
			<tx:method name="buyStock" isolation="DEFAULT" propagation="REQUIRED" rollback-for="StockException"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="stockPointCut" expression="execution(* *..service.*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="stockPointCut"/>
	</aop:config>

</beans>